<h2>Customers</h2>
<p>This is the customers page. Lorum ipsum dolor sit amet. Etiam imperdiet felis id sapien vehicula ultrices. Donec eu sem eget velit bibendum condimentum a fringilla dui.
  Proin tempor est vel ligula tincidunt efficitur. Nam varius bibendum nisi. Duis ut dui rhoncus, malesuada eros vitae,
  pharetra elit. Vestibulum pulvinar, elit a aliquam molestie, est lectus dictum ex, sit amet vestibulum ipsum ante
  consectetur turpis. Cras imperdiet varius nisi, ac rhoncus diam convallis et. Duis sit amet leo urna. Nulla iaculis
  malesuada mauris nec pellentesque. Praesent non ex velit.
</p>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    Customers with Active Balances
  </div>

  <div class='panel-body'>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='customers && customers.length'>
        <thead>
        <tr>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Balance</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor='let customer of customers'>
          <td><a [routerLink]="['/customer-detail', customer.ID]">
            {{customer.name.first}} {{ customer.name.last}}
          </a>
          </td>
          <td>{{customer.email }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.balance }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
